<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DOC_PATH" value="C:\Report\Documents\"/>
    <add key="Work_Foder" value="D:/Webserver/eoffice/FILE_UPLOAD/Work"/>
    <add key="Work_Foder_Read" value="../FILE_UPLOAD/Work"/>
    <add key="Incoming_Foder" value="C:/Incoming/Documents"/>
    <add key="DOC_URL" value="/Reports/Documents/"/>
    <add key="DURATION_TIMEOUT" value="36000"/>
    <add key="ROOT_PATH" value="../"/>
    <add key="LOG_BY_EMAIL" value="true"/>
    <add key="WORKING_FOLDER" value="C:/Inetpub/techman.vtc.vn/reports"/>
    <add key="PRJ_ROOT" value="/Reports"/>
    <add key="COOKIESID" value="VTC_INTECOM_GIRIS"/>
    <add key="DOMAINCOOKIE" value="vtc.vn"/>
    <add key="WEBSITE_TITLE" value=":: General Internal Report Information System 2.1::"/>
    <add key="LINK_CARDIMAGE" value="../FILE_UPLOAD/EMPLOYEE_MODULE/CARDIMAGE/"/>
    <add key="DIR_CARDIMAGE" value="D:/Webserver/eoffice/FILE_UPLOAD/EMPLOYEE_MODULE/CARDIMAGE"/>
    <add key="LINK_HEALTHFILE" value="../FILE_UPLOAD/EMPLOYEE_MODULE/HEALTHFILE/"/>
    <add key="DIR_HEALTHFILE" value="D:/Webserver/eoffice/FILE_UPLOAD/EMPLOYEE_MODULE/HEALTHFILE"/>
    <add key="DIR_AWARDFILE" value="D:/Webserver/eoffice/FILE_UPLOAD/EMPLOYEE_MODULE/AWARDFILE"/>
    <add key="LINK_AWARDFILE" value="../FILE_UPLOAD/EMPLOYEE_MODULE/AWARDFILE/"/>
    <add key="DIR_EDUCATIONFILE" value="D:/Webserver/eoffice/FILE_UPLOAD/EMPLOYEE_MODULE/EDUCATIONFILE"/>
    <add key="LINK_EDUCATIONFILE" value="../FILE_UPLOAD/EMPLOYEE_MODULE/EDUCATIONFILE/"/>
    <add key="DIR_WORKFILE" value="D:/Webserver/eoffice/FILE_UPLOAD/EMPLOYEE_MODULE/WORKFILE"/>
    <add key="LINK_WORKFILE" value="../FILE_UPLOAD/EMPLOYEE_MODULE/WORKFILE/"/>
    <add key="DIR_EXPANDFILE" value="D:/Webserver/eoffice/FILE_UPLOAD/EMPLOYEE_MODULE/EXPANDFILE"/>
    <add key="LINK_EXPANDFILE" value="../FILE_UPLOAD/EMPLOYEE_MODULE/EXPANDFILE/"/>
    <add key="Report_File" value="D:/Webserver/eoffice/Report_File/"/>
    <add key="Report_Emp_CVFile" value="D:/Webserver/eoffice/Report_File/HRM_Report/crProfile.rpt"/>
    <add key="Report_Emp_CVSP" value="SP_Report_Employee_Profile,SP_Report_Employee_Profile_Family,SP_Report_Employee_Profile_Education,SP_Report_Employee_Profile_Language,SP_Report_Employee_Profile_Education_Other,SP_Report_Employee_Profile_Jobs,SP_Report_Employee_Profile_Award"/>
    <add key="Report_Emp_SalaryFile" value="D:/Webserver/eoffice/Report_File/HRM_Report/Report_Salary.rpt"/>
    <add key="Report_Emp_SalarySP" value="SP_Report_Salary_ByCompanyId"/>
    <add key="DIR_MESSAGEFILE" value="D:/Webserver/eoffice/Message/AttachFile/"/>
    <add key="LINK_MESSAGEFILE" value="~/Message/AttachFile/"/>
    <add key="DIR_RAREXE" value="C:/Program Files/WinRAR/Rar.exe"/>
    <add key="DIR_TEMPFOLDER" value="D:/Webserver/eoffice/Library/File/TEMPFOLDER/"/>
    <add key="LINK_TEMPFOLDER" value="~/Library/File/TEMPFOLDER/"/>
    <add key="CONTRACT_QD" value="/QĐ-ITC"/>
    <add key="EMP_FORMULA_TYPE" value="EMP_FORMULA_"/>
    <!--DANH SACH CAC MODULE CODE, AUTHORITY CODE-->
    <add key="PermissionAuthority" value="Permission"/>
    <add key="Emp_FullAuthority" value="Emp_Full"/>
    <add key="Emp_PartAuthority" value="Emp_Part"/>
    <add key="Emp_LeaderAuthority" value="Leader"/>
    <add key="SalaryAuthority" value="Salary"/>
    <add key="ManageAuthority" value="Manage"/>
    <add key="Emp_Module" value="Employee"/>
    <add key="Work_Module" value="Work"/>
    <add key="Room_Booking_Module" value="RoomMeeting"/>
    <add key="Car_Booking_Module" value="Car"/>
    <!--END DANH SACH CAC MODULE CODE, AUTHORITY CODE-->

    <!-- DANH SACH CAC TAB CUA MODULE NHAN SU-->
    <add key="Salary_EmpM" value="Salary"/>
    <add key="Contract_EmpM" value="Contract"/>
    <add key="Job_EmpM" value="Job"/>
    <add key="Award_EmpM" value="Award"/>
    <add key="Work_EmpM" value="Work"/>
    <add key="Health_EmpM" value="Health"/>
    <add key="Family_EmpM" value="Family"/>
    <add key="Expand_EmpM" value="Expand"/>
    <add key="Basic_EmpM" value="Basic"/>
    <add key="Education_EmpM" value="Education"/>
    <add key="Detail_EmpM" value="Detail"/>

    <add key="EmpM_Infor_Part" value="Emp_Infor"/>
    <add key="EmpM_Salary_Part" value="Emp_Salary"/>
    <add key="EmpM_Reward_Part" value="Emp_Reward"/>
    <!-- END DANH SACH CAC TAB CUA MODULE NHAN SU-->
    <add key="SiteUrl" value="http://office.intecom.vtc.vn"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SQLConn" connectionString="server=NgoQuangLua-PC;uid=sa;pwd=sa;database=QL6;"/>-->
    <add name="SQLConn" connectionString="server=QLOT-THINK\SQLEXPRESS;database=QL4;user id=sa;password=123456;Trusted_Connection=no;"/>
    <!--<add key="ConnectionString" value="server=QLOT-THINK\SQLEXPRESS;database=btnet;user id=sa;password=123456;Trusted_Connection=no;" />-->
    <add name="SQLConnHCNS" connectionString="omQ73jdqr3LcX2EuMp30wVSJnwsclL/RT1ZGsWUConuXoZL4rlzP1CwSWU2I1jECON5NJyKKPNtNzOqJj8NmbKrRlEuOanZ9UpBgRjOtNcY="/>
    <!--<add name="SQLConn" connectionString="server=localhost;uid=sa;pwd=12345678;database=Management_System;"/>-->
    <add name="SQLConnTASDB" connectionString="fOiUgvQ/izeFbNXymT17RZwMXisUbhhL4Jn7bUStanahgxGih2aYtVt8zrd5xbTHLA0txoUpmwDDk1apvJnMNO/UoCKRf+eoACdW/ThbcvQ="/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <!--<add assembly="AjaxControlToolkit, Version=3.0.20820.16598"/>-->
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>



        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Data.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Xpo.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>


        <add assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Web.ASPxEditors.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxGridView.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Xpo.v11.2.Web, Version=11.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Speech, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows"/>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages styleSheetTheme="default">
      <namespaces>
        <add namespace="System.Collections.Generic"/>

      </namespaces>
      <controls>
        <add tagPrefix="AjaxControls" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

        <add src="~/UserControls/BannerScreens.ascx" tagName="BannerScreens" tagPrefix="dx"/>
        <add src="~/UserControls/Head.ascx" tagName="Head" tagPrefix="dx"/>
        <add src="~/UserControls/TitleLogo.ascx" tagName="TitleLogo" tagPrefix="dx"/>
        <add src="~/UserControls/Tabs.ascx" tagName="Tabs" tagPrefix="dx"/>
        <add src="~/UserControls/ThemeSelector.ascx" tagName="ThemeSelector" tagPrefix="dx"/>
        <add src="~/UserControls/Features.ascx" tagName="Features" tagPrefix="dx"/>
        <add src="~/UserControls/Navigation.ascx" tagName="Navigation" tagPrefix="dx"/>
        <add src="~/UserControls/EventMonitor.ascx" tagName="EventMonitor" tagPrefix="dx"/>
        <add src="~/UserControls/ServerEventMonitor.ascx" tagName="ServerEventMonitor" tagPrefix="dx"/>
        <add src="~/UserControls/Code.ascx" tagName="Code" tagPrefix="dx"/>
        <add src="~/UserControls/FooterLogo.ascx" tagName="FooterLogo" tagPrefix="dx"/>
        <add src="~/UserControls/FooterText.ascx" tagName="FooterText" tagPrefix="dx"/>
        <add src="~/UserControls/ComponentView.ascx" tagName="ComponentView" tagPrefix="dx"/>
        <add src="~/UserControls/SuiteSwitcher.ascx" tagName="SuiteSwitcher" tagPrefix="dx"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxClasses" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallback" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallbackPanel" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCloudControl" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxDataView" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxFileManager" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGlobalEvents" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHeadline" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHiddenField" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxLoadingPanel" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxMenu" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxNavBar" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxNewsControl" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxObjectContainer" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPager" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPanel" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPopupControl" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxRatingControl" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxRoundPanel" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSplitter" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTabControl" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTimer" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTitleIndex" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeView" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxDocking" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSiteMapControl" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxUploadControl" assembly="DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxEditors" assembly="DevExpress.Web.ASPxEditors.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView" assembly="DevExpress.Web.ASPxGridView.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Xpo" assembly="DevExpress.Xpo.v11.2.Web, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <!--<httpRuntime requestValidationMode="2.0" executionTimeout="2400" maxRequestLength="1024000" />-->
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <devExpress>
    <settings rightToLeft="false"/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
</configuration>