/* ================================
CSS STYLES
================================
*/
/* GENERIC */
.QLVT_top-level {
PADDING-LEFT: 7px; DISPLAY: block;
BORDER-TOP: white 1px solid; font-weight: bold;
TEXT-DECORATION: none; COLOR: black; BACKGROUND-COLOR: #E7E3E7;
PADDING-TOP: 5px; PADDING-BOTTOM:5px;
BORDER-TOP: #fff 1px solid; BORDER-BOTTOM: #CCCCCC 1px solid;
}
.QLVT_second-level A {
PADDING-LEFT: 3px; DISPLAY: block;
MARGIN: 0px; PADDING-TOP: 5px; PADDING-BOTTOM:5px;
font-size:9pt;
TEXT-DECORATION: none; COLOR: black; BACKGROUND-COLOR: #F9F9F9;
BORDER-TOP: #fff 1px solid; BORDER-BOTTOM: #eeeeee 1px solid;
}
.QLVT_second-level A:visited {
PADDING-LEFT: 3px; COLOR: black; BACKGROUND-COLOR: #F9F9F9;
}
.QLVT_second-level A:hover {
BACKGROUND: whitesmoke; COLOR: #F37623; text-decoration: underline;
}
TABLE TR TD.ModuleHead1 {
BACKGROUND: #4A92C6; COLOR: #fff;
FONT-WEIGHT: bold; FONT-FAMILY: arial, Times New Roman, verdana, helvetica, sans-serif;
PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 5px;
} 